* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 97, 98);
    text-align: center;
    color: white;
    font-size: 5vh;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    font-size: 12vmin;
    color: rgb(31, 28, 28);
    background-color: #fffd7a;
}

#reset,
#newBtn {
    height: 5vmin;
    width: 25vmin;
    border-radius: 2rem;
    font-size: 2.5vmin;
    background-color: rgb(3, 120, 120);
    color: #fff;
}

#title {
    height: 15vmin;
}

#msg {
    color: rgb(240, 238, 238);
    font-size: 5vmin;
    height: 10vmin;
}

.msg-container {
    height: 20vmin;
}

.hide {
    display: none;
}
